In [1]:
import pandas as pd
import json

P1= {
    "Player": "QB1",
    "Games": [
      {
        "Game": "Game1",
        "Attempts": 21,
        "Completions": 18,
        "Yards": 323,
        "Long": 56,
        "LongTDPass": 28,
        "Touchdowns": 5,
        "Interceptions": 0,
        "Sacks": 3
      },
      {
        "Game": "Game10",
        "Attempts": 34,
        "Completions": 16,
        "Yards": 178,
        "Long": 30,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 2,
        "Sacks": 1
      },
      {
        "Game": "Game11",
        "Attempts": 56,
        "Completions": 33,
        "Yards": 358,
        "Long": 21,
        "LongTDPass": 19,
        "Touchdowns": 1,
        "Interceptions": 0,
        "Sacks": 2
      },
      {
        "Game": "Game12",
        "Attempts": 5,
        "Completions": 2,
        "Yards": 13,
        "Long": 9,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 0,
        "Sacks": 0
      },
      {
        "Game": "Game2",
        "Attempts": 25,
        "Completions": 15,
        "Yards": 175,
        "Long": 29,
        "LongTDPass": 24,
        "Touchdowns": 2,
        "Interceptions": 0,
        "Sacks": 2
      },
      {
        "Game": "Game3",
        "Attempts": 38,
        "Completions": 25,
        "Yards": 257,
        "Long": 36,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 0,
        "Sacks": 3
      },
      {
        "Game": "Game4",
        "Attempts": 24,
        "Completions": 13,
        "Yards": 154,
        "Long": 65,
        "LongTDPass": 7,
        "Touchdowns": 1,
        "Interceptions": 3,
        "Sacks": 4
      },
      {
        "Game": "Game5",
        "Attempts": 22,
        "Completions": 10,
        "Yards": 89,
        "Long": 29,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 0,
        "Sacks": 4
      },
      {
        "Game": "Game6",
        "Attempts": 63,
        "Completions": 36,
        "Yards": 509,
        "Long": 49,
        "LongTDPass": 49,
        "Touchdowns": 4,
        "Interceptions": 1,
        "Sacks": 3
      },
      {
        "Game": "Game7",
        "Attempts": 47,
        "Completions": 26,
        "Yards": 191,
        "Long": 19,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 0,
        "Sacks": 1
      },
      {
        "Game": "Game8",
        "Attempts": 47,
        "Completions": 25,
        "Yards": 222,
        "Long": 36,
        "LongTDPass": 7,
        "Touchdowns": 2,
        "Interceptions": 1,
        "Sacks": 2
      },
      {
        "Game": "Game9",
        "Attempts": 39,
        "Completions": 21,
        "Yards": 367,
        "Long": 86,
        "LongTDPass": 86,
        "Touchdowns": 5,
        "Interceptions": 0,
        "Sacks": 2
      }
    ]
  }

df1=pd.DataFrame(P1["Games"])
df1

,Game,Attempts,Completions,Yards,Long,LongTDPass,Touchdowns,Interceptions,Sacks
0,Game1,21,18,323,56,28,5,0,3
1,Game10,34,16,178,30,0,0,2,1
2,Game11,56,33,358,21,19,1,0,2
3,Game12,5,2,13,9,0,0,0,0
4,Game2,25,15,175,29,24,2,0,2
5,Game3,38,25,257,36,0,0,0,3
6,Game4,24,13,154,65,7,1,3,4
7,Game5,22,10,89,29,0,0,0,4
8,Game6,63,36,509,49,49,4,1,3
9,Game7,47,26,191,19,0,0,0,1
10,Game8,47,25,222,36,7,2,1,2
11,Game9,39,21,367,86,86,5,0,2

In [2]:
P2= {
    "Player": "QB2",
    "Games": [
      {
        "Game": "Game1",
        "Attempts": 35,
        "Completions": 27,
        "Yards": 361,
        "Long": 78,
        "LongTDPass": 78,
        "Touchdowns": 2,
        "Interceptions": 0,
        "Sacks": 4
      },
      {
        "Game": "Game10",
        "Attempts": 20,
        "Completions": 13,
        "Yards": 259,
        "Long": 52,
        "LongTDPass": 15,
        "Touchdowns": 1,
        "Interceptions": 0,
        "Sacks": 0
      },
      {
        "Game": "Game11",
        "Attempts": 25,
        "Completions": 19,
        "Yards": 286,
        "Long": 74,
        "LongTDPass": 74,
        "Touchdowns": 3,
        "Interceptions": 1,
        "Sacks": 0
      },
      {
        "Game": "Game12",
        "Attempts": 35,
        "Completions": 27,
        "Yards": 198,
        "Long": 27,
        "LongTDPass": 7,
        "Touchdowns": 1,
        "Interceptions": 1,
        "Sacks": 4
      },
      {
        "Game": "Game2",
        "Attempts": 18,
        "Completions": 10,
        "Yards": 176,
        "Long": 78,
        "LongTDPass": 78,
        "Touchdowns": 1,
        "Interceptions": 0,
        "Sacks": 0
      },
      {
        "Game": "Game3",
        "Attempts": 30,
        "Completions": 20,
        "Yards": 226,
        "Long": 69,
        "LongTDPass": 69,
        "Touchdowns": 3,
        "Interceptions": 0,
        "Sacks": 0
      },
      {
        "Game": "Game4",
        "Attempts": 15,
        "Completions": 10,
        "Yards": 190,
        "Long": 43,
        "LongTDPass": 22,
        "Touchdowns": 2,
        "Interceptions": 1,
        "Sacks": 0
      },
      {
        "Game": "Game5",
        "Attempts": 16,
        "Completions": 12,
        "Yards": 250,
        "Long": 55,
        "LongTDPass": 55,
        "Touchdowns": 4,
        "Interceptions": 0,
        "Sacks": 1
      },
      {
        "Game": "Game6",
        "Attempts": 20,
        "Completions": 12,
        "Yards": 306,
        "Long": 81,
        "LongTDPass": 81,
        "Touchdowns": 3,
        "Interceptions": 1,
        "Sacks": 0
      },
      {
        "Game": "Game7",
        "Attempts": 35,
        "Completions": 25,
        "Yards": 290,
        "Long": 60,
        "LongTDPass": 60,
        "Touchdowns": 3,
        "Interceptions": 3,
        "Sacks": 0
      },
      {
        "Game": "Game8",
        "Attempts": 30,
        "Completions": 19,
        "Yards": 293,
        "Long": 58,
        "LongTDPass": 39,
        "Touchdowns": 2,
        "Interceptions": 0,
        "Sacks": 0
      },
      {
        "Game": "Game9",
        "Attempts": 25,
        "Completions": 13,
        "Yards": 294,
        "Long": 74,
        "LongTDPass": 74,
        "Touchdowns": 4,
        "Interceptions": 0,
        "Sacks": 1
      }
    ]
  }

df2 = pd.DataFrame(P2["Games"])
df2

,Game,Attempts,Completions,Yards,Long,LongTDPass,Touchdowns,Interceptions,Sacks
0,Game1,35,27,361,78,78,2,0,4
1,Game10,20,13,259,52,15,1,0,0
2,Game11,25,19,286,74,74,3,1,0
3,Game12,35,27,198,27,7,1,1,4
4,Game2,18,10,176,78,78,1,0,0
5,Game3,30,20,226,69,69,3,0,0
6,Game4,15,10,190,43,22,2,1,0
7,Game5,16,12,250,55,55,4,0,1
8,Game6,20,12,306,81,81,3,1,0
9,Game7,35,25,290,60,60,3,3,0
10,Game8,30,19,293,58,39,2,0,0
11,Game9,25,13,294,74,74,4,0,1

In [3]:
P3={
    "Player": "QB3",
    "Games": [
      {
        "Game": "Game1",
        "Attempts": 28,
        "Completions": 20,
        "Yards": 276,
        "Long": 49,
        "LongTDPass": 42,
        "Touchdowns": 1,
        "Interceptions": 0,
        "Sacks": 2
      },
      {
        "Game": "Game10",
        "Attempts": 37,
        "Completions": 26,
        "Yards": 250,
        "Long": 32,
        "LongTDPass": 32,
        "Touchdowns": 1,
        "Interceptions": 0,
        "Sacks": 0
      },
      {
        "Game": "Game11",
        "Attempts": 29,
        "Completions": 16,
        "Yards": 133,
        "Long": 18,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 3,
        "Sacks": 1
      },
      {
        "Game": "Game12",
        "Attempts": 18,
        "Completions": 14,
        "Yards": 159,
        "Long": 59,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 0,
        "Sacks": 1
      },
      {
        "Game": "Game2",
        "Attempts": 44,
        "Completions": 27,
        "Yards": 271,
        "Long": 48,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 0,
        "Sacks": 3
      },
      {
        "Game": "Game3",
        "Attempts": 35,
        "Completions": 22,
        "Yards": 201,
        "Long": 30,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 1,
        "Sacks": 2
      },
      {
        "Game": "Game4",
        "Attempts": 40,
        "Completions": 26,
        "Yards": 368,
        "Long": 71,
        "LongTDPass": 71,
        "Touchdowns": 2,
        "Interceptions": 0,
        "Sacks": 2
      },
      {
        "Game": "Game5",
        "Attempts": 37,
        "Completions": 22,
        "Yards": 319,
        "Long": 70,
        "LongTDPass": 9,
        "Touchdowns": 2,
        "Interceptions": 1,
        "Sacks": 4
      },
      {
        "Game": "Game6",
        "Attempts": 31,
        "Completions": 17,
        "Yards": 195,
        "Long": 45,
        "LongTDPass": 8,
        "Touchdowns": 2,
        "Interceptions": 0,
        "Sacks": 'null'
      },
      {
        "Game": "Game7",
        "Attempts": 40,
        "Completions": 25,
        "Yards": 255,
        "Long": 39,
        "LongTDPass": 3,
        "Touchdowns": 1,
        "Interceptions": 1,
        "Sacks": 4
      },
      {
        "Game": "Game8",
        "Attempts": 35,
        "Completions": 26,
        "Yards": 446,
        "Long": 69,
        "LongTDPass": 69,
        "Touchdowns": 4,
        "Interceptions": 0,
        "Sacks": 1
      },
      {
        "Game": "Game9",
        "Attempts": 30,
        "Completions": 18,
        "Yards": 273,
        "Long": 52,
        "LongTDPass": 7,
        "Touchdowns": 1,
        "Interceptions": 1,
        "Sacks": 1
      }
    ]
  }

df3=pd.DataFrame(P3["Games"])
df3

,Game,Attempts,Completions,Yards,Long,LongTDPass,Touchdowns,Interceptions,Sacks
0,Game1,28,20,276,49,42,1,0,2
1,Game10,37,26,250,32,32,1,0,0
2,Game11,29,16,133,18,0,0,3,1
3,Game12,18,14,159,59,0,0,0,1
4,Game2,44,27,271,48,0,0,0,3
5,Game3,35,22,201,30,0,0,1,2
6,Game4,40,26,368,71,71,2,0,2
7,Game5,37,22,319,70,9,2,1,4
8,Game6,31,17,195,45,8,2,0,null
9,Game7,40,25,255,39,3,1,1,4
10,Game8,35,26,446,69,69,4,0,1
11,Game9,30,18,273,52,7,1,1,1

In [4]:
P4 = {
    "Player": "QB4",
    "Games": [
      {
        "Game": "Game1",
        "Attempts": 11,
        "Completions": 3,
        "Yards": 39,
        "Long": 18,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 0,
        "Sacks": 2
      },
      {
        "Game": "Game10",
        "Attempts": 32,
        "Completions": 20,
        "Yards": 251,
        "Long": 68,
        "LongTDPass": 68,
        "Touchdowns": 2,
        "Interceptions": 2,
        "Sacks": 1
      },
      {
        "Game": "Game11",
        "Attempts": 43,
        "Completions": 25,
        "Yards": 170,
        "Long": 22,
        "LongTDPass": 22,
        "Touchdowns": 2,
        "Interceptions": 0,
        "Sacks": 1
      },
      {
        "Game": "Game2",
        "Attempts": 19,
        "Completions": 12,
        "Yards": 83,
        "Long": 15,
        "LongTDPass": 9,
        "Touchdowns": 2,
        "Interceptions": 1,
        "Sacks": 1
      },
      {
        "Game": "Game3",
        "Attempts": 19,
        "Completions": 9,
        "Yards": 90,
        "Long": 25,
        "LongTDPass": 5,
        "Touchdowns": 1,
        "Interceptions": 1,
        "Sacks": 1
      },
      {
        "Game": "Game4",
        "Attempts": 33,
        "Completions": 15,
        "Yards": 190,
        "Long": 40,
        "LongTDPass": 37,
        "Touchdowns": 1,
        "Interceptions": 0,
        "Sacks": 3
      },
      {
        "Game": "Game5",
        "Attempts": 44,
        "Completions": 25,
        "Yards": 348,
        "Long": 34,
        "LongTDPass": 34,
        "Touchdowns": 3,
        "Interceptions": 0,
        "Sacks": 2
      },
      {
        "Game": "Game6",
        "Attempts": 27,
        "Completions": 13,
        "Yards": 161,
        "Long": 47,
        "LongTDPass": 47,
        "Touchdowns": 3,
        "Interceptions": 0,
        "Sacks": 1
      },
      {
        "Game": "Game7",
        "Attempts": 23,
        "Completions": 9,
        "Yards": 76,
        "Long": 20,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 0,
        "Sacks": 0
      },
      {
        "Game": "Game8",
        "Attempts": 43,
        "Completions": 22,
        "Yards": 249,
        "Long": 60,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 2,
        "Sacks": 0
      },
      {
        "Game": "Game9",
        "Attempts": 38,
        "Completions": 20,
        "Yards": 166,
        "Long": 26,
        "LongTDPass": 12,
        "Touchdowns": 1,
        "Interceptions": 2,
        "Sacks": 4
      }
    ]
  }

df4 = pd.DataFrame(P4["Games"])
df4

,Game,Attempts,Completions,Yards,Long,LongTDPass,Touchdowns,Interceptions,Sacks
0,Game1,11,3,39,18,0,0,0,2
1,Game10,32,20,251,68,68,2,2,1
2,Game11,43,25,170,22,22,2,0,1
3,Game2,19,12,83,15,9,2,1,1
4,Game3,19,9,90,25,5,1,1,1
5,Game4,33,15,190,40,37,1,0,3
6,Game5,44,25,348,34,34,3,0,2
7,Game6,27,13,161,47,47,3,0,1
8,Game7,23,9,76,20,0,0,0,0
9,Game8,43,22,249,60,0,0,2,0
10,Game9,38,20,166,26,12,1,2,4

In [5]:
P5= {
    "Player": "QB5",
    "Games": [
      {
        "Game": "Game1",
        "Attempts": 18,
        "Completions": 7,
        "Yards": 112,
        "Long": 33,
        "LongTDPass": 18,
        "Touchdowns": 2,
        "Interceptions": 1,
        "Sacks": 2
      },
      {
        "Game": "Game10",
        "Attempts": 25,
        "Completions": 19,
        "Yards": 209,
        "Long": 33,
        "LongTDPass": 17,
        "Touchdowns": 1,
        "Interceptions": 0,
        "Sacks": 0
      },
      {
        "Game": "Game11",
        "Attempts": 22,
        "Completions": 12,
        "Yards": 137,
        "Long": 34,
        "LongTDPass": 19,
        "Touchdowns": 1,
        "Interceptions": 1,
        "Sacks": 3
      },
      {
        "Game": "Game12",
        "Attempts": 22,
        "Completions": 14,
        "Yards": 218,
        "Long": 68,
        "LongTDPass": 68,
        "Touchdowns": 1,
        "Interceptions": 0,
        "Sacks": 3
      },


      {
        "Game": "Game14",
        "Attempts": 11,
        "Completions": 8,
        "Yards": 109,
        "Long": 37,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 0,
        "Sacks": 1
      },
      {
        "Game": "Game2",
        "Attempts": 17,
        "Completions": 11,
        "Yards": 242,
        "Long": 45,
        "LongTDPass": 25,
        "Touchdowns": 3,
        "Interceptions": 1,
        "Sacks": 3
      },
      {
        "Game": "Game3",
        "Attempts": 17,
        "Completions": 13,
        "Yards": 251,
        "Long": 64,
        "LongTDPass": 10,
        "Touchdowns": 1,
        "Interceptions": 1,
        "Sacks": 2
      },
      {
        "Game": "Game4",
        "Attempts": 37,
        "Completions": 30,
        "Yards": 371,
        "Long": 39,
        "LongTDPass": 25,
        "Touchdowns": 5,
        "Interceptions": 1,
        "Sacks": 4
      },
      {
        "Game": "Game5",
        "Attempts": 11,
        "Completions": 10,
        "Yards": 108,
        "Long": 32,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 0,
        "Sacks": 0
      },
      {
        "Game": "Game6",
        "Attempts": 28,
        "Completions": 22,
        "Yards": 285,
        "Long": 46,
        "LongTDPass": 11,
        "Touchdowns": 3,
        "Interceptions": 0,
        "Sacks": 0
      },
      {
        "Game": "Game7",
        "Attempts": 22,
        "Completions": 21,
        "Yards": 274,
        "Long": 58,
        "LongTDPass": 58,
        "Touchdowns": 5,
        "Interceptions": 0,
        "Sacks": 0
      },
      {
        "Game": "Game8",
        "Attempts": 27,
        "Completions": 18,
        "Yards": 264,
        "Long": 54,
        "LongTDPass": 54,
        "Touchdowns": 4,
        "Interceptions": 0,
        "Sacks": 0
      },
      {
        "Game": "Game9",
        "Attempts": 24,
        "Completions": 15,
        "Yards": 182,
        "Long": 39,
        "LongTDPass": 0,
        "Touchdowns": 0,
        "Interceptions": 1,
        "Sacks": 0
      }
    ]
}

DF5 = pd.DataFrame(P5["Games"])
DF5

,Game,Attempts,Completions,Yards,Long,LongTDPass,Touchdowns,Interceptions,Sacks
0,Game1,18,7,112,33,18,2,1,2
1,Game10,25,19,209,33,17,1,0,0
2,Game11,22,12,137,34,19,1,1,3
3,Game12,22,14,218,68,68,1,0,3
4,Game14,11,8,109,37,0,0,0,1
5,Game2,17,11,242,45,25,3,1,3
6,Game3,17,13,251,64,10,1,1,2
7,Game4,37,30,371,39,25,5,1,4
8,Game5,11,10,108,32,0,0,0,0
9,Game6,28,22,285,46,11,3,0,0
10,Game7,22,21,274,58,58,5,0,0
11,Game8,27,18,264,54,54,4,0,0
12,Game9,24,15,182,39,0,0,1,0

# Question 1

In [6]:
print("QB1:", df1['Completions'].max())
print("QB2:", df2['Completions'].max())
print("QB3:", df3['Completions'].max())
print("QB4:", df4['Completions'].max())
print("QB5:", DF5['Completions'].max())

QB1: 36
QB2: 27
QB3: 27
QB4: 25
QB5: 30

# Questiion 2

In [7]:
df1['Yards/Attempts'] = df1["Yards"]/df1['Attempts']
df2['Yards/Attempts'] = df2["Yards"]/df2['Attempts']
df3['Yards/Attempts'] = df3["Yards"]/df3['Attempts']
df4['Yards/Attempts'] = df4["Yards"]/df4['Attempts']
DF5['Yards/Attempts'] = DF5["Yards"]/DF5['Attempts']

In [20]:
print('QB1', df1['Yards/Attempts'].nsmallest(1), "\n")
print('QB2', df2['Yards/Attempts'].nsmallest(1), "\n")
print('QB3', df3['Yards/Attempts'].nsmallest(1), "\n")
print('QB4', df4['Yards/Attempts'].nsmallest(1), "\n")
print('QB5', DF5['Yards/Attempts'].nsmallest(1), "\n")

QB1 3    2.6
Name: Yards/Attempts, dtype: float64

QB2 3    5.657143
Name: Yards/Attempts, dtype: float64

QB3 2    4.586207
Name: Yards/Attempts, dtype: float64

QB4 8    3.304348
Name: Yards/Attempts, dtype: float64

QB5 0    6.222222
Name: Yards/Attempts, dtype: float64

# Question 3

In [9]:
print('QB1', df1['Yards'].sum(), "\n")
print('QB2', df2['Yards'].sum(), "\n")
print('QB3', df3['Yards'].sum(), "\n")
print('QB4', df4['Yards'].sum(), "\n")
print('QB5', DF5['Yards'].sum(), "\n")

QB1 2836

QB2 3129

QB3 3146

QB4 1823

QB5 2762

# Question 4

In [10]:
print('QB1', df1['Touchdowns'].sum(), "\n")
print('QB2', df2['Touchdowns'].sum(), "\n")
print('QB3', df3['Touchdowns'].sum(), "\n")
print('QB4', df4['Touchdowns'].sum(), "\n")
print('QB5', DF5['Touchdowns'].sum(), "\n")

QB1 20

QB2 29

QB3 14

QB4 15

QB5 26

In [11]:
# Question 5

In [12]:
print('QB1', (df1['Completions'].sum()/df1['Attempts'].sum())*100, '%', "\n")
print('QB2', (df2['Completions'].sum()/df2['Attempts'].sum())*100, '%', "\n")
print('QB3', (df3['Completions'].sum()/df3['Attempts'].sum())*100, '%', "\n")
print('QB4', (df4['Completions'].sum()/df4['Attempts'].sum())*100, '%', "\n")
print('QB5', (DF5['Completions'].sum()/DF5['Attempts'].sum())*100, '%', "\n")

QB1 57.00712589073634 %

QB2 68.0921052631579 %

QB3 64.10891089108911 %

QB4 52.108433734939766 %

QB5 71.17437722419929 %

# Question 6

In [21]:
print('QB1 passer rating: ', (((((df1['Completions']/df1['Attempts'])-0.3)*5) + (((df1['Yards']/df1['Attempts'])-3)*0.25) + (((df1['Touchdowns']/df1['Attempts']))*20) + (2.375-((df1['Interceptions']/df1['Attempts'])*25)))/6)*100,'%', "\n")
print('QB2 passer rating: ', (((((df2['Completions']/df2['Attempts'])-0.3)*5) + (((df2['Yards']/df2['Attempts'])-3)*0.25) + (((df2['Touchdowns']/df2['Attempts']))*20) + (2.375-((df2['Interceptions']/df2['Attempts'])*25)))/6)*100,'%', "\n")
print('QB3 passer rating: ', (((((df3['Completions']/df3['Attempts'])-0.3)*5) + (((df3['Yards']/df3['Attempts'])-3)*0.25) + (((df3['Touchdowns']/df3['Attempts']))*20) + (2.375-((df3['Interceptions']/df3['Attempts'])*25)))/6)*100,'%', "\n")
print('QB4 passer rating: ', (((((df4['Completions']/df4['Attempts'])-0.3)*5) + (((df4['Yards']/df4['Attempts'])-3)*0.25) + (((df4['Touchdowns']/df4['Attempts']))*20) + (2.375-((df4['Interceptions']/df4['Attempts'])*25)))/6)*100,'%', "\n")
print('QB5 passer rating: ', (((((DF5['Completions']/DF5['Attempts'])-0.3)*5) + (((DF5['Yards']/DF5['Attempts'])-3)*0.25) + (((DF5['Touchdowns']/DF5['Attempts']))*20) + (2.375-((DF5['Interceptions']/DF5['Attempts'])*25)))/6)*100,'%', "\n")

QB1 passer rating:  0     216.964286
1      38.602941
2      83.779762
3      46.250000
4     107.916667
5      85.087719
6      35.763889
7      56.818182
8      97.916667
9      65.115248
10     71.409574
11    128.899573
dtype: float64 %

QB2 passer rating:  0     128.392857
1     126.875000
2     136.416667
3      87.559524
4     107.638889
5     122.361111
6     127.083333
7     213.020833
8     145.000000
9      88.988095
10    117.777778
11    147.750000
dtype: float64 %

QB3 passer rating:  0     114.583333
1      97.804054
2      24.066092
3     103.703704
4      78.882576
5      66.488095
6     111.250000
7      94.313063
8      95.497312
9      78.645833
10    155.178571
11     87.222222
dtype: float64 %

QB4 passer rating:  0      39.583333
1      81.640625
2      82.509690
3      86.074561
4      56.907895
5      74.053030
6     105.113636
7     104.089506
8      48.460145
9      49.467054
10     50.986842
dtype: float64 %

QB5 passer rating:  0      74.305556
1     113.583333
2      69.696970
3     111.553030
4     103.977273
5     149.632353
6     122.426471
7     145.213964
8     118.750000
9     145.684524
10    209.280303
11    147.762346
12     68.402778
dtype: float64 %

7

8

9

10

In [33]:
print('QB1 passer rating: ', (((((df1['Completions'].sum()/df1['Attempts'].sum())-0.3)*5) + (((df1['Yards'].sum()/df1['Attempts'].sum())-3)*0.25) + (((df1['Touchdowns'].sum()/df1['Attempts'].sum()))*20) + (2.375-((df1['Interceptions'].sum()/df1['Attempts'].sum())*25)))/6)*100,'%', "\n")
print('QB2 passer rating: ', (((((df2['Completions'].sum()/df2['Attempts'].sum())-0.3)*5) + (((df2['Yards'].sum()/df2['Attempts'].sum())-3)*0.25) + (((df2['Touchdowns'].sum()/df2['Attempts'].sum()))*20) + (2.375-((df2['Interceptions'].sum()/df2['Attempts'].sum())*25)))/6)*100,'%', "\n")
print('QB3 passer rating: ', (((((df3['Completions'].sum()/df3['Attempts'].sum())-0.3)*5) + (((df3['Yards'].sum()/df3['Attempts'].sum())-3)*0.25) + (((df3['Touchdowns'].sum()/df3['Attempts'].sum()))*20) + (2.375-((df3['Interceptions'].sum()/df3['Attempts'].sum())*25)))/6)*100,'%', "\n")
print('QB4 passer rating: ', (((((df4['Completions'].sum()/df4['Attempts'].sum())-0.3)*5) + (((df4['Yards'].sum()/df4['Attempts'].sum())-3)*0.25) + (((df4['Touchdowns'].sum()/df4['Attempts'].sum()))*20) + (2.375-((df4['Interceptions'].sum()/df4['Attempts'].sum())*25)))/6)*100,'%', "\n")
print('QB5 passer rating: ', (((((DF5['Completions'].sum()/DF5['Attempts'].sum())-0.3)*5) + (((DF5['Yards'].sum()/DF5['Attempts'].sum())-3)*0.25) + (((DF5['Touchdowns'].sum()/DF5['Attempts'].sum()))*20) + (2.375-((DF5['Interceptions'].sum()/DF5['Attempts'].sum())*25)))/6)*100,'%', "\n")

QB1 passer rating:  86.56472684085512 %

QB2 passer rating:  123.91721491228071 %

QB3 passer rating:  92.2854785478548 %

QB4 passer rating:  73.40612449799198 %

QB5 passer rating:  124.29567022538552 %

11

12

In [15]:
df1['Passer_rating'] =(((((df1['Completions']/df1['Attempts'])-0.3)*5) + (((df1['Yards']/df1['Attempts'])-3)*0.25) + (((df1['Touchdowns']/df1['Attempts']))*30) + (2.375-((df1['Interceptions']/df1['Attempts'])*25)))/6)*100
df2['Passer_rating'] =(((((df2['Completions']/df2['Attempts'])-0.3)*5) + (((df2['Yards']/df2['Attempts'])-3)*0.25) + (((df2['Touchdowns']/df2['Attempts']))*30) + (2.375-((df2['Interceptions']/df2['Attempts'])*25)))/6)*100
df3['Passer_rating'] =(((((df3['Completions']/df3['Attempts'])-0.3)*5) + (((df3['Yards']/df3['Attempts'])-3)*0.25) + (((df3['Touchdowns']/df3['Attempts']))*30) + (2.375-((df3['Interceptions']/df3['Attempts'])*25)))/6)*100
df4['Passer_rating'] =(((((df4['Completions']/df4['Attempts'])-0.3)*5) + (((df4['Yards']/df4['Attempts'])-3)*0.25) + (((df4['Touchdowns']/df4['Attempts']))*30) + (2.375-((df4['Interceptions']/df4['Attempts'])*25)))/6)*100
DF5['Passer_rating'] =(((((DF5['Completions']/DF5['Attempts'])-0.3)*5) + (((DF5['Yards']/DF5['Attempts'])-3)*0.25) + (((DF5['Touchdowns']/DF5['Attempts']))*30) + (2.375-((DF5['Interceptions']/DF5['Attempts'])*25)))/6)*100

diff1 = df1['Passer_rating'].nlargest(1)
diff2 = df1['Passer_rating'].nsmallest(1)
print(diff1)
print(diff2)

0    256.646825
Name: Passer_rating, dtype: float64
1    38.602941
Name: Passer_rating, dtype: float64

In [16]:
A1=df1['Passer_rating'].sort_values()
print(A1[1:-1].sum()/(A1.count()-2))
print((df2['Passer_rating'].sort_values())[1:-1].sum()/(df2['Passer_rating'].count()-2))
print((df3['Passer_rating'].sort_values())[1:-1].sum()/(df3['Passer_rating'].count()-2))
print((df4['Passer_rating'].sort_values())[1:-1].sum()/(df4['Passer_rating'].count()-2))
print((DF5['Passer_rating'].sort_values())[1:-1].sum()/(DF5['Passer_rating'].count()-2))

84.12529793730802
141.13525132275134
97.66643307268308
77.83310883079251
131.56447532851277

In [17]:
print(diff2)

1    38.602941
Name: Passer_rating, dtype: float64